<%- contentFor('display-all-tasks') %>

    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <h2>Task Assignments</h2>
        <ul class="nav navbar-nav navbar-left">
            <% if(currentUser.role === 'Project Manager') { %>
                <li id="menu-new"><a href="/tasks/new"><span class="glyphicon glyphicon-plus"></span> Add Tasks </a></li>
                <% } %>

        </ul>
        <ul class="nav navbar-nav navbar-right">

            <li id="menu-new"><a href="/users"><span class="glyphicon glyphicon-user"></span> All Users </a></li>


        </ul>
    </nav>


    <!-- show all tasks here.. -->
    <div class="row table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Task Title:</th>
                    <th>Description:</th>
                    <th>Status:</th>
                </tr>
            </thead>
            <tbody>

                <% for(var i =0; i < tasks.length; i++) { %>
                    <tr>
                        <td>

                            <a href="/tasks/show/<%=tasks[i].id; %>">
                                <%=tasks[i].title;%>
                            </a>
                        </td>
                        <td>
                            <%=tasks[i].description;%>
                        </td>
                        <td>
                            <%=tasks[i].status %>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
    </div>
