<%- contentFor('display-all-tasks') %>

    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <h2>Task Assignments</h2>
        <ul class="nav navbar-nav navbar-left">
            <% if(currentUser.role === 'Project Manager') { %>
                <li id="menu-new"><a href="/tasks/new"><span class="glyphicon glyphicon-plus"></span> Add Tasks </a></li>
                <% } %>

        </ul>
        <ul class="nav navbar-nav navbar-right">

            <li id="menu-new"><a href="/users"><span class="glyphicon glyphicon-user"></span> All Users </a></li>


        </ul>
    </nav>

    <!-- <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <h2>Task Assignments</h2>
        <ul class="nav navbar-nav navbar-left">
            <li id="menu-new"><a href="/users"><span class="glyphicon glyphicon-user"></span> All Users </a></li>
            <%=currentUser.role%>

                        <li id="menu-new"><a href="/users"><span class="glyphicon glyphicon-folder-open"></span> All Tasks </a></li>
        </ul>
    </nav> -->

    <div class="row">
        <% for(var i =0; i < tasks.length; i++) { %>
            <div class="col-md-3">
                <div class="thumbnail">
                    <a href="/tasks/show/<%=tasks[i].id; %>">

                        <div class="caption">
                            <p>Title:
                                <%=tasks[i].title;%>
                            </p>

                            <p>Description:
                                <%=tasks[i].description;%>
                            </p>
                            <br>

                        </div>
                    </a>
                </div>
            </div>

            <% } %>

    </div>
